.about-wrapper {

      .container {

        section p #trigger-overlay {

          -webkit-filter: invert(100%);
          z-index: 5;
        
        }
      }


      .hero {

        background: #000;
        height: 450px;
        position: fixed;
        width: 100%;

        p {
          font-family: 'Montserrat', sans-serif;
          font-size: 50px;
          font-weight: 100;
          margin: 0;
          color: #fff;
          text-align: center;
          padding: 180px 0px;
          letter-spacing: 3px;
          line-height: 25px;

          span {
            font-size: 10px;
          }
        }
      }

      .hello {
        
        top: 475px;
        width: 100%;
        position: absolute;
        background: #fff;
        padding: 5% 33%;
        // height: 820px;
        color: #000;
        font-family: 'Times New Roman', sans-serif;

        .part {

          margin-bottom: 3%;

          .part-title {

            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            color: #000;
            position: relative;            
          }

          // .part-title::after {
          //   content: '';
          //   width: 100%;
          //   position: absolute;
          //   left: 0;
          //   bottom: -1px;
          //   height: 1.5px;
          //   background: #bfbfbf;
          //   background: -webkit-gradient(linear, left top, right top, color-stop(0%, #000), color-stop(50%, #e6e6e6), color-stop(100%, hsla(0, 0%, 0%, 0)));

          // }

          .part-desc {
              line-height: 28px;
              font-size: 15px;
          }
        }


      }
      
    }