    body {
	  	text-align: center;
	  	background: url("http://38.media.tumblr.com/tumblr_mby2vv5Bpo1r8wl6ro1_500.jpg");
	  	background-size: cover;
	  	background-position: center;
	  	color: black;
	  	font-family: avenir;
	  }

	  a:link {
    color: #ffffff;
     }

/* visited link */
a:visited {
    color: #000000;
}

/* mouse over link */
a:hover {
    color: #e6e6e6;
}

/* selected link */
a:active {
    color: #999999;
}
	  h1 {
	  	font-size: 70px;
	  	font-family: Snell Roundhand;
	  }
	  h2 {
	  	font-size: 30px;
	  }
	  img {
	  	margin: 30px 0px 0px 0px;
	  	border: 2px solid white;
	  	border-radius: 7px;
	  }
	  ul {
	  	padding: 10px;
	  	background: rgba(0,0,0,0.3);
	  }
	  li {
	  	display: inline;
	  	padding: 0px 10px 0px 10px;
	  }
	  article {
	  	max-width: 500px;
	  	padding: 20px;
	  	margin: 0 auto;
	  }
	  @media (max-width: 500px) {
	  	h1 {
	  		font-size: 36px;
	  	}
	  	li {
	  		display: block;
	  		padding: 5px;
	  	}
	  }
input {
	border: 0;
	padding: 7px;
	font-size: 15px;
}
input[type="submit"] {
	background: #666666;
	color: white;
}