.landing-page {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: relative;
}

.slide-img {
  height: 100vh;
  width: 100vw;
}

ul.cb-slideshow {
  list-style-type: none;
  margin-top: 0;
  margin-left: 0 
}

.black-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.65;
}

.text-cover {
  z-index: 9;
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: 'PT Mono';
  color: white;
}

h1 {
  font-size: 70px;
  text-align: center;
  margin-top: 325px;
  letter-spacing: 7px;
}

section {
  padding: 0px;
  position: absolute;
  top: 0;
  right: 0;
}

section  button {
  background: none;
}

.menu-btn {
  height: 30px;
}

.overlay {
  background: #fff;
}

.overlay ul {
  width: 100%;
}


.overlay ul li a {
  color: #000;
}

.overlay ul li a:hover {
  color: #fff;
  background: #000;
  text-decoration: none;
}

.overlay-door.open nav {
  width: 100%;
}

.overlay-door.open .overlay-close {
  height: 45px;
}


#ga-wrapper {
  background-color: white;
  z-index: 99;
  height: 100vh;
  width: 100vw;
}