@-ms-viewport{
  width: device-width;
}

body {
  font-family: 'PT Mono';
}

.project-wrapper .menu-btn {
  -webkit-filter: invert(100%)
}

.landing-page {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: relative;
}

.slide-img {
  height: 100vh;
  width: 100vw;
}

ul.cb-slideshow {
  list-style-type: none;
  margin-top: 0;
  margin-left: 0 
}

.black-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.65;
}

.text-cover {
  z-index: 9;
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
}

h1 {
  font-size: 70px;
  text-align: center;
  margin-top: 325px;
  letter-spacing: 7px;
}

h2 {
  font-size: 60px;
  text-align: center;
  letter-spacing: 7px;
  margin: 5%;
}

h4 {
  text-align: center;
}

section {
  padding: 0px;
  position: absolute;
  top: 0;
  right: 0;
}

section  button {
  background: none;
}

.menu-btn {
  height: 30px;
}

.menu-btn-invert {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  height: 30px;
}

.overlay-door.open {
  z-index: 5;
}

.overlay {
  background: #fff;
}

.overlay ul {
  width: 100%;
}

.overlay ul li a {
  color: #000;
}

.overlay ul li a:hover {
  color: #fff;
  background: #000;
  text-decoration: none;
}

.overlay-door.open nav {
  width: 100%;
}

.overlay-door.open .overlay-close {
  height: 45px;
}

#ga-wrapper {
  background-color: white;
  z-index: 99;
  height: 100vh;
  width: 100vw;
}

.project-wrapper {
  position: relative;
  border: 1px solid #ccc;
}

.project-block {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.18;
  z-index: 1;
  top: 0;
  left: 0;
  color: #fff;
}

.project-text {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  color: #fff;
  top: 0;
  left: 0;
  font-size: 42px;
  text-align: center;
  margin: 12% auto;
  display: none;
}

.project-view {
  background: transparent;
  border: 1px solid white;
  font-size: 14px;
  padding: 1.5%;
  color: #fff;
}

.project-view:hover {
  background-color: #fff;
  color: #000;
}

.project-grid {
  padding: 5%;
}

.project-desc p {
  color: #000;
}

button.project-btn {
  padding: 2% 5%;
  border: 1px solid #8a8c7e;
  background: transparent;
  color: #8a8c7e;
}

button.project-btn:hover {
  background-color: #8a8c7e;
  color: #fff;
}

/*a.project-link {
  color: #8a8c7e;
}

a.project-link:hover {
  color: #fff;
}*/


.project-desc {
  padding: 20%;
  text-align: center;
}

.project-container {
  padding: 0px;
}

.project-img {
  width: 100%;
  height: 300px;
  opacity: .7;
}

.project-img:hover {
  opacity: 1;
}

.wallop-slider--fold .wallop-slider__list {
  padding: 0;
}

.wallop-slider {
  position: relative;
}

.wallop-slider-buttons {
  padding: 1%;
  position: absolute;
  top: 45%;
  width: 100%;
}

.wallop-slider__btn {
  background: white;
  border: 2px solid black;
  color: black;
  border-radius: 0;
}

.wallop-slider__btn--next {
  float: right;
}

.ext-div {
  text-align: center;
  margin-bottom: 1%;
}

.btn-ext {
  border: 1px solid black;
  height: 25px;
  background: #fff;
  color: #000;
}

.btn-ext:hover {
  background: #000;
  color: #fff;
}

.resume-wrapper {
  height: 100vh;
}

.resume-pdf {
  position: absolute;
  height: 100%;
  width: 100%;
}

#social-media-ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

#social-media-ul li {
  display: inline-block;
}

#social-media-ul li:hover {
  -webkit-filter: invert(50%);
  filter: invert(50%);
}

.row-contact {
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

.ga-icon {
  height: 168px;
  margin-top: 46px;
  margin-bottom: 11%;
}

.contact-icon:hover {
  background: #F5F5F5;
  border-radius: 100%;
}

.pivot-wave-gif {
  position: absolute;
  bottom: 0;
  right: 0;
}

.pivot-wave-gif img {
  height: 125px;
}

@media (max-width: 767px) {
  h2 {
    font-size: 50px;
  }
  .project-img {
    height: 425px;
  }
  .pivot-wave-gif {
    position: initial;
    text-align: center;
  }
  .btn {
    font-size: 8.5px;
  }
}

@media screen and (max-width: 560px) {
  h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 490px) {
  h2 {
    font-size: 35px;
  }
  .button-section p {
    padding: 0px 0;
  }
  .button-overlay {
    padding: 8px 8px;
  }
  .menu-btn, .menu-btn-invert, .overlay-door.open .overlay-close {
    height: 20px;
    right: -10px;
  }
  .overlay ul li a {
    font-size: 38px;
  }
}







/*---------*/

#preloader {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 11000;
  position: fixed;
  display: block;
}


.preloader {
  position: absolute;
  margin: 0 auto;
  left: 1%;
  right: 1%;
  top: 45%;
  width: 95px;
  height: 95px;
  background: none center center no-repeat transparent;
  background-size: 95px 95px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
        -ms-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
}

#spinner {
  position: relative;
  height: 95px;
  width: 95px;
  top: 45%;
  margin:0 auto;
  margin-bottom: -45px;
  border-radius:100%;
  -webkit-animation: rotation 0.750s infinite linear;
  -moz-animation: rotation 0.750s infinite linear;
  -o-animation: rotation 0.750s infinite linear;
  animation: rotation 0.750s infinite linear;
}

#carousel-spinner:before,
#spinner:before {
  content:"";
  display:block;
  position:absolute;
  left:-3px;
  top:-3px;
  height:100%;
  width:100%;
  border-top: 3px solid rgba(0, 0, 0, 1);
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}
