@import 'bourbon/bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

body {
	font: {
		size: 100%;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: $color-4;
}

body, html {
	height: 100%;
}

a {
	color: $color-1;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-img-replace { /* replace text with a background-image */
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

/* -------------------------------- 

Main components 

-------------------------------- */

.cd-section {
	min-height: 100%;
	position: relative;
	padding: 2em 0;

	&:nth-of-type(odd) {
		background-color: #fff;

		p {
			color: #696969;
		}
	}

	&:nth-of-type(even) {
		background-color: #2E3C56;

		p {
			color: lighten(#778899, 30%);
		}
	}

	h1, p {
		position: absolute;
		@include center;
		width: 90%;
		max-width: $M;
		text-align: center;
	}

	h1 {
		color: #696969;
		font-weight: 300;
		text-transform: uppercase;
		@include font-size(20px);
	}

	p {
		line-height: 1.6;

	}


	.hello, .about, .social, .projects {
		text-align: center;
		position: absolute;
	    left: 50%;
	    top: 50%;
	    bottom: auto;
	    right: auto;
	    -webkit-transform: translateX(-50%) translateY(-50%);
	    -moz-transform: translateX(-50%) translateY(-50%);
	    -ms-transform: translateX(-50%) translateY(-50%);
	    -o-transform: translateX(-50%) translateY(-50%);
	    transform: translateX(-50%) translateY(-50%);
	    width: 90%;
	    max-width: 768px;
	    text-align: center;

	    .name {
	    	font-size: 1.875rem;
	    	color: #696969;
		    font-weight: 300;
		    margin-bottom: 8px;
		    text-transform: uppercase;
	    }

	    .location {
	    	font-size: 12px;
		    color: #696969;
		    font-weight: 300;
	    	img {
	    		width: 16px;
	    	}
	    }

	    img.about_img {
	    	border-radius: 70px;
	    }

	    div.subtitle {
	    	font-family: 'Montserrat', sans-serif;
		    font-size: 11px;
		    font-weight: 100;
		    margin: 10px 0 15px 0;
		    color: #fff;
		    text-align: center;
		    letter-spacing: 3px;
		    line-height: 25px;
	    }

	    .part {
	    	color: #fff;
	    	text-align: left;
	    	margin: 0 auto;
	    	margin-bottom: 10px;

	    	.part-title {
	    		font-family: 'Montserrat', sans-serif;
            	font-size: 14px;
            	text-transform: uppercase;
            	letter-spacing: 3px;
	    	}

	    	.part-desc {
	    		line-height: 28px;
            	font-weight: 100;
            	font-size: 14px;
	    		
	    		a {
	    			color: #e9d1b2;

	    			&:hover {
	    				color: #f5f6f7;
	    				text-decoration: underline;
	    			}
	    		}
	    	}
	    }

	    .dropdown {
		    position: relative;
		    display: inline-block;
		    z-index: 1;
			
			margin-bottom: 23px;

		    .dropbtn {
			    padding: 12px;
			    font-size: 12px;
			    font-family: 'Montserrat', sans-serif;
			    letter-spacing: 3px;
			    cursor: pointer;
			    text-transform: uppercase;
			    border: 1px solid #818a99;
			    color: #fff;
			    background: #818a99;
			}
			.dropdown-content {
			    display: none;
			    position: absolute;
			    min-width: 160px;
			    text-align: left;
			    list-style: none;
			    background-color: #fff;
			    -webkit-background-clip: padding-box;
			    background-clip: padding-box;
			    border: 1px solid #ccc;
			    border: 1px solid rgba(0, 0, 0, .15);
			    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
			    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);

				ul.project-list {

					li {
						line-height: 22px;
						button {
							color: #818a99;
							font-size: 12px;
						    font-family: 'Montserrat', sans-serif;
						    letter-spacing: 1px;
						    background: none;
						    border: none;

							&:hover {
								color: #e9d1b2;
								text-decoration: none;
							}
						}
					}
				}
			}
		}

		/* Show the dropdown menu on hover */
		.dropdown:hover .dropdown-content {
		    display: block;
		}

		/* Change the background color of the dropdown button when the dropdown content is shown */
		.dropdown:hover .dropbtn {
		    opacity: 1;
		}

		#project-carousel {
			position: relative;

			span.github {
				position: absolute;
			    top: 0;
			    right: 0;
			    z-index: 2;
			    background: #e9d1b2;
			    opacity: 0.9;
			    border-top: 0.5px solid #e6e6e6;
    			border-right: 0.5px solid #e6e6e6;

			    &:hover {
			    	opacity: 1;
			    }

			    img {
			    	width: 40px;
			    }
			}
		}


	    #proj1, #proj2, #proj3, #proj4 {
	    	.owl-controls {
	    		.owl-pagination {
	    			display: none;
	    		}
	    		.owl-buttons {
	    			div {
	    				border: 1px solid #818a99;
	    				color: #818a99;
	    				background: none;
	    				border-radius: 0;
	    			}
	    		}
	    	}
	    }

	    .owl-carousel img {
	    	width: 768px;
	    	height: 423px;
	    	border: 1px solid #e6e6e6;
	    }

		
		ul.social-list {
			list-style-type: none;
			li {
				display: inline-block;

				a {
					img {
						width: 60px;
						transition: .5s ease-in-out;

						&:hover {
			            	transform: scale(1.1);
			            }
					}
				}
			}
		}
		span.email {
			font-size: 12px;

			a {
				color: #fff;
				
				&:hover {
					color: #e9d1b2;
				}
			}
		}
	}

	@include MQ(M) {
		h1 {
			@include font-size(30px);
		}

		p {
			@include font-size(20px);
			line-height: 2;
		}
	}
}

.cd-scroll-down {
	position: absolute;
	@include center(x);
	bottom: 20px;
	width: 38px;
	height: 44px;
	background: url('../img/cd-arrow-bottom.svg') no-repeat center center;
}

/* No Touch devices */

.cd-nav-trigger {
	display: none;
}

.no-touch #cd-vertical-nav {
	position: fixed;
	right: 40px;
	@include center(y); // see partials > _mixins.scss
	z-index: 1;

	li {
		text-align: right;
	}

	a {
		display: inline-block;
		@include clearfix;

		/* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
		@include backface-visibility(hidden);
		
		span {
			float: right;
			display: inline-block;
			@include transform(scale(.6));
		}

		&:hover span {
			@include transform(scale(1)); 
		}

		&:hover .cd-label {
			opacity: 1;
		}

		&.is-selected .cd-dot {
			background-color: #e9d1b2;
		}
	} 

	.cd-dot {
		position: relative;
		/* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
		top: 8px;
		height: 12px;
		width: 12px;
		border-radius: 50%;
		background-color: #818a99;
		-webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
		-moz-transition: -moz-transform 0.2s, background-color 0.5s;
		transition: transform 0.2s, background-color 0.5s;
		@include transform-origin(50% 50%);	
	}

	.cd-label {
		position: relative;
		margin-right: 10px;
		padding: .4em .5em;
		color: #e9d1b2;
		@include font-size(14px);

		-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
		-moz-transition: -moz-transform 0.2s, opacity 0.2s;
		transition: transform 0.2s, opacity 0.2s;
		opacity: 0;
		@include transform-origin(100% 50%);
	}
}

/* Touch devices */

.touch .cd-nav-trigger {
	display: block;
	z-index: 2;
	position: fixed;
	bottom: 30px;
	right: 5%;
	height: 44px;
	width: 44px;
	@include border-radius;
	background: rgba($color-4, .9);

	span {
		position: absolute;
		height: 4px;
		width: 4px;
		background-color: $color-1;
		border-radius: 50%;
		@include center;

		&::before, &::after {
			content: '';
			height: 100%;
			width: 100%;
			position: absolute;
			left: 0;
			background-color: inherit;
			border-radius: inherit;
		}

		&::before {
			top: -9px;
		}

		&::after {
			bottom: -9px;
		}
	}
}

.touch #cd-vertical-nav {
	position: fixed;
	z-index: 1;
	right: 5%;
	bottom: 30px;
	width: 90%;
	max-width: 400px;
	max-height: 90%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	@include transform-origin(right bottom);
	@include transform(scale(0));
	@include transition-property(transform);
	@include transition-duration(.2s);
	@include border-radius;
	background-color: rgba(245,245,245, .9);

	a {
		display: block;
		padding: 1em;
		border-bottom: 1px solid rgba($color-1, .1);

		span:first-child {
			display: none;
		}

		&.is-selected span:last-child {
			color: #e9d1b2;
		}
	}
	
	&.open {
		@include transform(scale(1));
	}

	&.open + .cd-nav-trigger {
		background-color: transparent;
		
		span {
			background-color: rgba($color-1, 0);	
		}

		span::before, span::after {
			background-color: rgba($color-1, 1);
			height: 3px;
			width: 20px;
			border-radius: 0;
			left: -8px;
		}

		span::before {
			@include transform(rotate(45deg));
			top: 1px;
		}

		span::after {
			@include transform(rotate(135deg));
			bottom: 0;
		}
	}

	li:last-child a {
		border-bottom: none;
	}
}

@include MQ(M) {
	.touch .cd-nav-trigger, .touch #cd-vertical-nav {
		bottom: 40px;
	}
}


@media only screen and (max-width: 767px) {
	.cd-section {
		.about {
			div.subtitle {
				font-size: 9.5px;
			}
			.row {
				width: 70%;
				margin: 0 auto;
			}
		}
	}
}

@media only screen and (max-width: 620px) {
	.cd-scroll-down {
		background-size: 24px;
	}
	.cd-section {
		.about {
			.row {
				width: 85%;
			}
			.part {
				.part-desc {
					line-height: 22px;
				}
			}
		}

		.projects {
			.dropdown {
				.dropbtn {
					padding: 9px;
					font-size: 10px;
				}
			}
			#project-carousel {
				span.github {
					img {
						width: 30px;
					}
				}
			}

			.owl-carousel {
				.owl-wrapper-outer {
					img {
		    			object-fit: cover;
		    			border: none;
					}
				}
			}

			#proj1, #proj2, #proj3, #proj4 {
		    	.owl-controls {
		    		.owl-buttons {
		    			div {
		    				font-size: 8px;
		    			}
		    		}
		    	}
		    }
		}
	}
}

@media only screen and (max-width: 400px) {
	.cd-section {
		.about {
			img.about_img {
				width: 100px;
			}
			div.subtitle {
				font-size: 8px;
				margin: 5px 0 10px 0;
			}
			.row {
				width: 95%;
			}
			.part {
				.part-title {
					font-size: 12px;
				}
				.part-desc {
					font-size: 11px;
					line-height: 18px;
				}
			}
		}
	}
}