body {
  font-family: 'Poiret One';
}

h1 {
  font-family: 'Poiret One';
}

.navbar {
  background-color: white;
  border-color: white;
  width: 80%;
  margin: 0 auto;
}


.navbar-nav {
  float: right;
  margin: 2%;
}

.navbar-toggle {
  margin: 8% auto;
}

.backdrop {
  width: 100%;
}